/* COMMON */

/* Font */
h1 {
  text-transform: uppercase;
}

/* Random */
body {
  min-width: 320px;
}

.btn_download {
  background-color: #19b89a;
  border: 1px solid #fff;
  color: #fff;
}

.btn_send {
  background-color: #19b89a;
  border: 1px solid #19b89a;
  color: #fff;
}

.small-wrapper {
  width: 80%;
  margin: auto;
}

.section {
  padding: 50px 0;
}

.section-green {
  background-color: #19b89a;
}

.section-title {
  text-align: center;
  color: #000;
}

.color-white {
  color: #fff;
}

.section-title h2 {
  text-transform: uppercase;
  margin: 0;
}

.circle-border {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
}

.padding-top-bottom {
  padding: 15px 0;
}

[class*="star-"] i {
  padding: 30px 0;
  font-size: 18px;
}

.star-white::before,
.star-white::after {
  display: inline-block;
  content: "";
  border-top: 2px solid #fff;
  width: 50px;
  margin: 0 20px;
  transform: translateY(-5px);
}

.star-black::before,
.star-black::after {
  display: inline-block;
  content: "";
  border-top: 2px solid #000;
  width: 50px;
  margin: 0 20px;
  transform: translateY(-5px);
}

.color-green {
  color: #19b89a;
}

.color-dark {
  color: #2c3d51;
}

/* COMMON END */
/* ------------------------------------------------------------------- */
/* HEADER */

/* Nav */
nav {
  background-color: #2c3d51;
  color: #fff;
}

.header-nav-logo {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.header-nav-burger-menu,
.header-nav-main-menu {
  text-align: right;
  padding: 0 10px;
}

.header-nav-main-menu li:nth-child(1n + 2) {
  padding-left: 10px;
}

.header-nav-main-menu a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

/* Jumbotron */
.header-jumbotron {
  background-color: #1abc9d;
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

.header-jumbotron img {
  height: 150px;
}

.header-jumbotron-payoff {
  text-transform: uppercase;
}

/* HEADER END */
/* ------------------------------------------------------------------- */
/* MAIN */

/* Portfolio Section */
.portfolio-item {
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

/* About Section */

.about-content {
  padding-bottom: 30px;
}

/* Contact Me Section */

.contact-me {
  padding: 50px 0;
  text-align: center;
}

.contact-me-form {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}

.contact-me-form::-webkit-input-placeholder {
  /* Edge */
  color: #39546e;
}

.contact-me-form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #39546e;
}

.contact-me-form::placeholder {
  color: #39546e;
}

/* MAIN END */
/* ------------------------------------------------------------------- */
/* FOOTER */

footer {
  background-color: #39546e;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

.footer-copyright {
  background-color: #2c3d51;
  text-align: center;
  color: #fff;
}

.footer-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 10px;
}

footer a {
  line-height: 35px;
  color: #fff;
}

footer li:nth-child(1n + 2) {
  margin-left: 10px;
}

/* FOOTER END */
/* ------------------------------------------------------------------- */
/* HOVER */

.btn_download:hover {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #fff;
  color: #39546e;
}

.header-nav-main-menu a:hover {
  color: #39546e;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

.circle-border:hover {
  color: #2c3d51;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
}

.btn_send:hover {
  background-color: rgba(25, 184, 154, 0.75);
  border: 1px solid #19b89a;
  color: #fff;
}
